@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root
{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}
body
{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
h1
{
    font-size: 3rem;
}
h2
{
    font-size: 2rem;
}
h3
{
    font-size: 1.5rem;
}
p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}
a
{
    text-decoration: none;
    display: inline-block;
}
ul
{
    list-style: none;
}
.hover-link
{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover
{
    color:var(--accent-color);
}
.small-bold{
    font-size: 1rem;
    font-weight: 500;
    color:white;
    padding: 15px 30px;
    text-align: center;
}
.container
{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex
{
    display: flex;
    align-items: center;
}
.primary-button
{
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 24px;
    background-color: var(--accent-color);
    color:white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover
{
    background-color: var(--accent-color-dark);
}
.secondary-button
{
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 24px;
    border: 0.5px solid var(--secondary-text-color);
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}
.secondary-button:hover
{
    border-color: var(--accent-color);
    color:var(--accent-color) !important;
}
.top-banner
{
    background-color: #e74694;
    background-image: url("asset 32.png");
    background-size: 300px;
}
.company-logo img
{
    width: 200px;
}
.main-nav
{
    margin-top: 20px;
    justify-content: space-between;
}

.nav-links ul
{
    justify-content: end;
    gap: 40px;
}

.nav-links
{
    flex-basis: 730px;
}

/*header section*/

.header-section
{
    padding: 50px var(--padding-inline-section) 0;
}
.header-sub-section
{
    gap:50px;
    justify-content: center;
}
.header-right img
{
    width: 600px;
}
.header-left p
{
    margin-bottom: 32px;
}
.header-left h1
{
    margin-bottom: 16px;
}

/*companies section*/

.comapnies-statement
{
    padding-top: 40px;
    font-weight: 400;
}
.list-of-companies img
{
    height: 46px;
}
.list-of-companies ul
{
    margin-top: var(--padding-inline-section);
    justify-content: space-between;
    flex-wrap: wrap;
}

/*feature style*/

.features-header
{
    text-align: center;
}
.features-section
{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url("asset 34.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.features-header h2
{
    margin-bottom: 20px;
}
.features-card
{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img
{
    width: 40px;
    height: 60px;
}
.features-area
{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
/*feature image section*/
.big-feature-section
{
    padding: 80px var(--padding-inline-section);
}
.feature-section-styling
{
    gap: 70px;
}
.feature-image img
{
    width: 34vw;
}
.big-feature-content
{
    max-width: 450px;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.company-img
{
    width: 120px;
}
.profile
{
    gap: 20px;
}
.content-background-image
{
    background-image: url("asset 35.svg");
    background-repeat: no-repeat;
    padding: 20px 30px 0;
}
.example-header
{
    text-align: center;
}
.example-btn
{
    margin-top: 15px;
}
.content1-img
{
    
    width: 256px;
    height: 300px;
    align-items: end;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1488722796624-0aa6f1bb6399?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    border-radius: 8px;
}
.content1-img h2
{
    font-size: 17px;
    color: white;
}
.example-content-style
{
    gap: 30px;
}
.example-content-img
{
    padding: 30px 0;
}
.cta-section
{
    padding-top: 20px;
}
.cta-styling
{
    gap: 30px;
    color: white;
    padding: 50px 0;
}
.cta-left-container p
{
    margin: 20px 0;
    color: white;
}
.cta-listing
{
    margin: 20px 0;
    list-style-type: disc;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 100px;
    column-gap: 30px;
    row-gap: 5px;
}
.cta-right-container img
{
    width: 550px;
}
.btn{
    color:white !important;
}
.cta-section
{
    background-color: #183b56;
}
.cta-new-styling
{
    padding: 200px 0 50px;
    flex-direction: column;
    gap: 20px;
}
.footer-image img
{
    width: 230px;
}
.footer-content
{
    gap: 80px;
    align-items: flex-start;
}
.footer-styling
{
    padding: 50px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-products-listing
{
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-products-listing a
{
    color: #183b56;
    font-size: 1rem;
}
.footer-products-listing a:hover
{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.footer
{
    background-color: #cee3fa;
}
.footer-products-listing p
{
    font-weight: 700;
    color:black;
    
}
.sub-footer-styling
{
    justify-content: space-between;
    padding:15px;
    max-width: 700px;
}
.sub-footer-content-styling
{
    gap: 20px;
}
.contact-icons-styling
{
    gap:30px;
}
.sub-footer-content-styling li
{
    font-size: 12px;
}
.contact-icons-styling img
{
    width: 24px;
}
.sub-footer
{
    background-color: #b9cde4;
}